
*{

	margin: 0;
    padding: 0;
}


.rick {

background-image: url("https://images5.alphacoders.com/876/thumb-1920-876590.png"); 
height: 690px;
max-width: 100%;

background-size: cover;
background-position: top;

}


.earth{

background-image: url("https://i.imgur.com/rvz5dLI.png");
height: 500px;
max-width: 100%;

background-size: cover;
background-position: right;

}

.wolf{

background-image: url("https://wallpaperstudio10.com/static/wpdb/wallpapers/1920x1080/169589.jpg");
height: 500px;
max-width: 100%;

background-size: cover;
background-position: top;

}

.ob_blue{
color: #18bfbf;

}


.ob_red{
color: red;


}
.ob_red:hover{
color: white;
background-color: red; 
}

p{
	font-family: sans-serif;
}

.normal_text{

	font-size: 30px;
	color: white;
}